<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ashdavies.ticker.feature">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application android:name="io.ashdavies.ticker.feature.Ticker"
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/application"
      android:supportsRtl="false"
      android:theme="@style/Theme.Ticker">

    <activity android:name=".settings.SettingsActivity"
        android:label="@string/activity_settings">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

    </activity>

    <service android:name=".settings.TickerTileService"
        android:icon="@drawable/ic_tile_euro"
        android:label="@string/tile_default_title"
        android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">

      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE"/>
      </intent-filter>
    </service>

  </application>

</manifest>
